//-자바스크립트와 퍼그 문법을 주의하자
//-${}, #{}

mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${info.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            span.video-mixin__title=info.title
            div.video-mixin__meta
                span #{info.owner.name} • 
                span #{info.meta.views} 회

    //- div
    //-     h4
    //-         a(href=`/videos/${info.id}`)=info.title
    //-     p=info.description
    //-     small=info.createdAt
    //-     hr